<h1>Welcome To Prepaid Auto Counter</h1>

<%= link_to "Add Locations to db", new_location_path %>

<br />
<br />

<%= link_to "Add Autos to db", new_auto_path %>

<br />
<br />

<%= link_to "Book A Ride", new_ride_path %>

<br />
<br />

<%= link_to "Change Auto Status", autos_path %>


